body {
    font-family: "Roboto", sans-serif;
    font-size: 135%;
}

.capitalized {
    text-transform: capitalize;
}

.green-button-style {
    border: 2px solid #36c298;
    border-radius: 4px;
    color: #36c298;
}

.grey-button-style {
    border: 2px solid #A6A6A6;
    border-radius: 4px;
    color: #A6A6A6;
}

.space-around {
    margin: 2px 2px 2px 2px;
}
