<md-content class="landing-page-bg">
    <div layout-padding layout="row" flex>
        <div layout="column" layout-align="start start" flex="20">
            <p class="md-title lounge-header-label">The Lounge</p>
        </div>
        <div layout="column" layout-align="center end" flex>
            <md-button class="green-button-style capitalized">Login</md-button>
        </div>
    </div>
    <div layout="row" flex>
        <div layout-align="center center" flex layout="column">
            <img layout-align="center center" class="landing-page-image" src="/assets/images/landing-page1.jpeg"/>
        </div>
        <div flex layout-align="center start" layout="column" layout-space-around>
            <div layout="row">
                <h1 class="landing-page-white-text">{{header}}</h1>
            </div>
            <div layout="row">
                <h4 class="landing-page-white-text">{{message}}</h4>
            </div>
            <div layout="row">
                <div layout="column" flex="30">
                    <md-button class="green-button-style capitalized">Sign Up</md-button>
                </div>
                <div layout="column" flex></div>
                <div layout="column" flex="30">
                    <md-button class="landing-page-learn-more grey-button-style capitalized">Learn More</md-button>
                </div>
            </div>
        </div>
    </div>
</md-content>
